{% extends "alumnos/menu.html" %}
{% block css %}
	<link rel="stylesheet" href="/media/css/dataTables.bootstrap.css">
{% endblock  %}
{% block header %}
  <h1>
   Alumnos
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Alumnos</li>
    <li>Lista</li>
  </ol>
{% endblock  %}

{% block titulo_box %}
	Lista de Alumnos
{% endblock  %}

{% block boton_box %}
	<a title="Nuevo Campus" class="btn btn-default" href="{% url 'vista_nuevo_campus' %}">
		<span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo 
	</a>
{% endblock  %}

{% block contenido_box %}
		{% if perms.general.add_campus %}
		<table id="tabla" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Código de Registro</th>
					<th>Identidad</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Telefono</th>
					<th colspan="2">Acción</th>							
				</tr>
			</thead>
			<tbody>
				{% for alumno in alumnos %}
					<tr>
						<td>{{alumno.codigo_registro|upper}}</td>
						<td>{{alumno.persona.identidad}}</td>
						<td>{{alumno.persona.nombres|upper}}</td>
						<td>{{alumno.persona.apellidos}}</td>
						<td>{{alumno.persona.telefono}}</td>
						<td>
							<center>
								<a title="Ver" href="{% url 'vista_detalle_campus' alumno.pk %}" class="btn btn-success">
									<span class="glyphicon glyphicon-eye-open"></span>
								</a>
							</center>
						</td>								
						<td>
							{% if perms.general.delete_campus %}
							<center>
								<a title="Borrar" href="{% url 'vista_borrar_campus' alumno.pk %}" title="Borrar" class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar el campus <<{{ alumno.descripcion }}>>?');" class="btn btn-danger">
									<span class="glyphicon glyphicon-remove-circle"></span>
								</a>
							</center>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
{% endblock %}

{% block js %}
    <script src="/media/js/jquery.dataTables.min.js"></script>
    <script src="/media/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#tabla').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
})
	
</script>
{% endblock  %}