{% extends "base.html" %}
{% block navlist %}
	<ul  class = "nav nav-pills nav-stacked" > 
	  	<li class="active">
	      <a href = "#">Menú Principal</a>
	    </li>

	     <li>
	      <a href = "{% url 'registro_primer_ingreso' %}">
	        <span class="glyphicon glyphicon-user">&nbsp;</span>Ingresar Alumno
	      </a> 
	    </li>
	     <li>
	      <a href = "{% url 'registro_alumno_excel' %}">
	        <span class="glyphicon glyphicon-user">&nbsp;</span>Importar Alumnos desde Excel
	      </a> 
	    </li>
    </ul>
{% endblock %}
