{% extends "alumnos/menu_principal.html" %}

{% block css %}
		{% include "utilidades/waiting_ajax.html" %}
		<link rel="stylesheet" type="text/css" href="/media/css/select2.min.css">
		<script src="/media/js/select2.min.js"></script>
{% endblock css %}



{% block container %}
		<!-- Modal -->
	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-body">
	        	<center><img width="235px" height="235px" src="/media/images/cargando.gif"></center>
	        </div>
	      </div>
	    </div>
	  </div>
		{% if mensaje %}
			<p class="alert alert-danger">{{mensaje}}</p>
		{% endif %}
		<form id="frm_persona" role="form" name="frm_persona" action="." method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>Formulario de Inscripción - Alumnos de Primer Ingreso</legend>

			</fieldset>
				{% for field in formulario %}
					{% if field.html_name == 'pais_nacimiento' %}
						<legend>Localización</legend>
					{% endif %}
					{% if field.html_name == 'titulos' %}
						<legend>Datos Profesionales</legend>
					{% endif %}
					<div class="form-group">
			            {{ field.errors }}
			            {{ field.label_tag }}
			            <div id="{{ field.html_name }}">
			             		{{ field }}
			         	</div> {{ field.help_text }}
			        </div>

				{% endfor %}
				<legend>Datos de Familia</legend>
				{{formulario_alu.as_p}}
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
		</form>


{% endblock %}
{% block extrafooter %}
<script type="text/javascript">

	function width_select(){
		$( ".select2" ).each(function( index ) {
	 		$( this ).css('width', '100%'); // Aqui lo que hace es seleccionar todos los SELECTs con clase de 'select2', si le quita esto, en el modal los SELECTs salen super pequenios.
		});
	}

	$("select").select2();
	width_select();

	function enviar(bandera){
		var bandera=bandera;
		var id_departamento=$("#id_departamento").val();
		var id_municipio=$("#id_municipio").val();
		var id_aldea=$("#id_aldea").val();
		var id_caserio=$("#id_caserio").val();

		var sendInfo = $('#frm_persona').serialize();

		if (bandera=='d'){
			name='municipio';
			sendInfo+="&bandera="+bandera+"&id="+id_departamento+"&name="+name;
		}else if(bandera=='m'){
			name='aldea';
			sendInfo+="&bandera="+bandera+"&id="+id_municipio+"&name="+name;
		}else if(bandera=='a'){
			name='caserio';
			sendInfo+="&bandera="+bandera+"&id="+id_aldea+"&name="+name;
		}else if(bandera=='c'){
			name='barrio';
			sendInfo+="&bandera="+bandera+"&id="+id_caserio+"&name="+name;
		}
		
		$.post(
        "{% url 'ajax_ubicacion' %}", // url to post
        sendInfo, //argumentos
        function(data){ // response callback
        	data = jQuery.parseJSON(data)
            $('#id_'+name).select2({
			  data: data
			})
			width_select()
        });
	}

	$(document).ready(function(){
		$('input').removeClass("errorlist").addClass("form-control");
		$('.errorlist').removeClass("errorlist").addClass("alert alert-danger");
		$('#myModal2').modal('hide')
	});

	$('#id_municipio, #id_aldea, #id_caserio').select2("val", ""); 
	$('#id_municipio, #id_aldea, #id_caserio').empty();
	$('#id_municipio, #id_aldea, #id_caserio').append("<option value=''>---------------</option>");

    $('#id_departamento').attr('onchange','enviar("d");');
	$('#id_municipio').attr('onchange','enviar("m");');
	$('#id_aldea').attr('onchange','enviar("a");');
	$('#id_caserio').attr('onchange','enviar("c");');

	</script>
{% endblock %}
