{% extends "alumnos/menu.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/media/css/select2.min.css">
{% endblock css %}


{% block header %}
  <h1>
   Alumnos
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Alumnos</li>
    <li>En línea</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Formulario de Inscripción - Alumnos de Primer Ingreso
{% endblock  %}

{% block contenido_box %}
	{% if exito %}
		<div class="well">
			<div align="center"> 
				<strong>{{exito}}</strong> <br><br>

				Usuario: <strong> {{alumno.identidad}} </strong> <br>
				Contresaña: <strong> registro </strong> <br> <br>

				<strong class="text-center"> Nota: La primera vez que el alumno ingrese al sistema, le pedirá cambio de contraseña </strong> 
			</div>
	{% else %}
		{% if mensaje %}
			<p class="alert alert-danger">{{mensaje}}</p>
		{% endif %}
		<form id="frm_persona" role="form" name="frm_persona" action="." method="POST">
			{% csrf_token %}
				<div class="form-group">
		            {{ formulario_alu.codigo_registro.errors }}
		            {{ formulario_alu.codigo_registro.label_tag }}
		            <div id="{{ formulario_alu.codigo_registro.html_name }}">
		             		{{formulario_alu.codigo_registro}}
		         	</div> {{ formulario_alu.codigo_registro.help_text }}
		        </div>

		        <legend>
		        </legend>
				
				{% for field in formulario %}
					{% if field.html_name == 'pais_nacimiento' %}
						<legend>Localización</legend>
					{% endif %}
					{% if field.html_name == 'titulos' %}
						<legend>Datos Profesionales</legend>
					{% endif %}
					<div class="form-group">
			            {{ field.errors }}
			            {{ field.label_tag }}
			            <div id="{{ field.html_name }}">
			             		{{ field }}
			         	</div> {{ field.help_text }}
			        </div>

			        {% if field.html_name == 'departamento' %}
				        <div class="form-group">
				        	<label> Municipio: </label>
				        	<select name="municipio" id="id_municipio" class="form-control">
				        		<option value="">------------</option>
				        	</select>
				        </div>
				        <div class="form-group">
				        	<label> Aldea: </label>
				        	<select name="aldea" id="id_aldea" class="form-control">
				        		<option value="">------------</option>
				        	</select>
				        </div>
				        <div class="form-group">
				        	<label> Caserio: </label>
				        	<select name="caserio" id="id_caserio" class="form-control">
				        		<option value="">------------</option>
				        	</select>
				        </div>
				        <div class="form-group">
				        	<label> Barrio: </label>
				        	<select name="barrio" id="id_barrio" class="form-control">
				        		<option value="">------------</option>
				        	</select>
				        </div>
			        {% endif %}

				{% endfor %}
				<legend>Datos de Familia</legend>
				{% for field in formulario_alu %}
					{% if field.html_name != 'codigo_registro' %}
						<div class="form-group">
				            {{ field.errors }}
				            {{ field.label_tag }}
				            <div id="{{ field.html_name }}">
				             		{{ field }}
				         	</div> {{ field.help_text }}
				        </div>
				    {% endif %}
			    {% endfor %}
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
		</form>
	{% endif %}
{% endblock %}

{% block js %}
{% include "utilidades/waiting_ajax.html" %}
<script src="/media/js/select2.min.js"></script>
<script type="text/javascript">
	
	function width_select(){
		$( ".select2" ).each(function( index ) {
	 		$( this ).css('width', '100%'); // Aqui lo que hace es seleccionar todos los SELECTs con clase de 'select2', si le quita esto, en el modal los SELECTs salen super pequenios.
		});
	}

	$("select").select2();
	width_select();

	function enviar(bandera){
		var bandera=bandera;
		var id_departamento=$("#id_departamento").val();
		var id_municipio=$("#id_municipio").val();
		var id_aldea=$("#id_aldea").val();
		var id_caserio=$("#id_caserio").val();

		var sendInfo = $('#frm_persona').serialize();

		if (bandera=='d'){
			name='municipio';
			sendInfo+="&bandera="+bandera+"&id="+id_departamento+"&name="+name;
			$('#id_aldea, #id_caserio, #id_barrio').empty();

		}else if(bandera=='m'){
			name='aldea';
			sendInfo+="&bandera="+bandera+"&id="+id_municipio+"&name="+name;

			$('#id_aldea, #id_caserio, #id_barrio').empty();
		}else if(bandera=='a'){
			name='caserio';
			sendInfo+="&bandera="+bandera+"&id="+id_aldea+"&name="+name;

			$(' #id_caserio, #id_barrio').empty();
		}else if(bandera=='c'){
			name='barrio';
			sendInfo+="&bandera="+bandera+"&id="+id_caserio+"&name="+name;
		}
		
		$.post(
        "{% url 'ajax_ubicacion' %}", // url to post
        sendInfo, //argumentos
        function(data){ // response callback
        	data = jQuery.parseJSON(data)
            $('#id_'+name).select2({
			  data: data
			})
			width_select()
        });
	}

	$(document).ready(function(){
		$('input').removeClass("errorlist").addClass("form-control");
		$('.errorlist').removeClass("errorlist").addClass("alert alert-danger");
		$('#myModal2').modal('hide')
		$('input[name=tiene_hijos]').removeAttr("class")
		$('textarea').addClass('form-control')
	});

	
    $('#id_departamento').attr('onchange','enviar("d");');
	$('#id_municipio').attr('onchange','enviar("m");');
	$('#id_aldea').attr('onchange','enviar("a");');
	$('#id_caserio').attr('onchange','enviar("c");');

	</script>
{% endblock %}
