{% extends "base_senso.html" %}

{% block container %}

	<div class="col-lg-12 well">
		<h4>Instructivo Primer Ingreso</h4>	
		<p>
			Considerando el rol de las Instituciones suscriptoras y la necesidad en educación, a nivel nacional y mundial, demandan la búsqueda de modelos estratégicos y concretos; destinados a ofrecer a nuestra sociedad otras alternativas educativas, que relacionen: La formación académica paralelamente con las actividades prácticas directamente en sus centros de trabajo, que permita una formación con altos valores, reduciendo la influencia de fac...
		</p>		
	</div>
	<div class="col-lg-12 well">
		<h4>Instructivo Reingreso</h4>	
		<p>
			Considerando el rol de las Instituciones suscriptoras y la necesidad en educación, a nivel nacional y mundial, demandan la búsqueda de modelos estratégicos y concretos; destinados a ofrecer a nuestra sociedad otras alternativas educativas, que relacionen: La formación académica paralelamente con las actividades prácticas directamente en sus centros de trabajo, que permita una formación con altos valores, reduciendo la influencia de fac...
		</p>		
	</div>
	<div class="col-lg-12 well">
		<h4>Instructivo Docentes</h4>	
		<p>
			Considerando el rol de las Instituciones suscriptoras y la necesidad en educación, a nivel nacional y mundial, demandan la búsqueda de modelos estratégicos y concretos; destinados a ofrecer a nuestra sociedad otras alternativas educativas, que relacionen: La formación académica paralelamente con las actividades prácticas directamente en sus centros de trabajo, que permita una formación con altos valores, reduciendo la influencia de fac...
		</p>		
	</div>
	
{% endblock %}

{% block extrafooter %}
{% endblock %}