{% extends "general/menu.html" %}
{% block header %}
  <h1>
   Campus
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Campus</li>
  </ol>
{% endblock  %}

{% block titulo_box %}
	Lista de Campus
{% endblock  %}

{% block boton_box %}
	<a title="Nuevo Campus" class="btn btn-default" href="{% url 'vista_nuevo_campus' %}">
		<span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo 
	</a>
{% endblock  %}

{% block contenido_box %}
		{% if perms.general.add_campus %}
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Siglas</th>
					<th>Descripción</th>
					<th>Direcci&oacute;n</th>
					<th>Director</th>
					<th>Tel&eacute;fono</th>
					<th colspan="2">Acción</th>							
				</tr>
			</thead>
			<tbody>
				{% for c in campus %}
					<tr>
						<td>{{c.siglas|upper}}</td>
						<td>{{c.descripcion}}</td>
						<td>{{c.direccion|upper}}</td>
						<td>{{c.director_campus.nombre_completo}}</td>
						<td>{{c.telefono}}</td>
						<td>
							<center>
								<a title="Ver" href="{% url 'vista_detalle_campus' c.pk %}" class="btn btn-success">
									<span class="glyphicon glyphicon-eye-open"></span>
								</a>
							</center>
						</td>								
						<td>
							{% if perms.general.delete_campus %}
							<center>
								<a title="Borrar" href="{% url 'vista_borrar_campus' c.pk %}" title="Borrar" class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar el campus <<{{ c.descripcion }}>>?');" class="btn btn-danger">
									<span class="glyphicon glyphicon-remove-circle"></span>
								</a>
							</center>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
{% endblock %}