{% extends "general/menu.html" %}
{% block header %}
  <h1>
   Campus
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Campus</li>
    <li>Detalle</li>
  </ol>
{% endblock  %}

{% block titulo_box %}
	Detalle de Campus
{% endblock  %}

{% block boton_box %}
	{% if perms.general.change_campus %}
		<a title="Nuevo Campus" class="btn btn-default" href="javascript:cambiarEstilo();">
				<span class="glyphicon glyphicon-edit">&nbsp;</span>Editar
		</a>
		<button type="submit" form="formulario" title="Nuevo Campus" id="btn_guardar" class="btn btn-default"disabled><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar
		</button>
	{% endif %}
{% endblock  %}



{% block contenido_box %}
	<form method="POST" name="formulario" id="formulario" accept-charset="utf-8">
	{% csrf_token %}
		{{formulario.as_p}}
	</form>
	
{% endblock %}

{% block js %}
	<script type="text/javascript">
		function cambiarEstilo(){
				$('input').removeAttr("disabled");
				$('#btn_guardar').removeAttr("disabled");	
				$('input').removeAttr("disabled");
				$('textarea').removeAttr("disabled");
				$('select').removeAttr("disabled");	
		}
			
		//inhabilitar_controles();
		//actualizaChosen();
	</script>
{% endblock %}