{% extends "general/menu.html" %}
{% block header %}
  <h1>
  Dormitorio
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Dormitorio</li>
    <li>Detalle</li>
  </ol>
{% endblock  %}

{% block titulo_box %}
	Detalle Dormitorio
{% endblock  %}

{% block boton_box %}
	{% if perms.general.change_dormitorio %}
		<a title="Editar_dormitorio" class="btn btn-default" href="javascript:cambiarEstilo();">
				<span class="glyphicon glyphicon-edit">&nbsp;</span>Editar
		</a>
		<button type="submit" title="Nuevo_Dormitorio" form="frm_dormitorio_detalle" id="btn_guardar" class="btn btn-default"disabled>
				<span class="glyphicon glyphicon-save">&nbsp;</span>Guardar
		</button>
	{% endif %}
{% endblock  %}

{% block contenido_box %}
	<form id="frm_dormitorio_detalle" name="frm_dormitorio_detalle" action="." method="POST">{% csrf_token %}
		{{formulario.as_p}}
	</form>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		$(':input').each(function( index, obj ) {
			if (obj.id != 'btn_guardar'){
				$(obj).prop('disabled', true).addClass('form-control');
			}
		});
		enviar()
		function cambiarEstilo(){
				$('input').removeAttr("disabled");
				$('#btn_guardar').removeAttr("disabled");	
				$('input').removeAttr("disabled");
				$('textarea').removeAttr("disabled");
				$('select').removeAttr("disabled");	
		}

		$('label[for="id_ocupados"]').hide();
		$('#id_ocupados').hide();
		$("#id_edificio").attr("onchange", "enviar();");
		$('#id_capacidad_personas').attr('onkeypress','return permite(event, "num");'); 
		$('#id_ocupados').attr('onkeypress','return permite(event, "num");');

		function enviar(){
			var edificio=$("#id_edificio").val();
			var sendInfo = $('#frm_dormitorio_detalle').serialize();
			sendInfo+="&id="+edificio;
			
			$.post(
            "{% url 'vista_ajax_dormitorio' %}",
            sendInfo,
            function(data){
            	var valor = jQuery.parseJSON(data);
            	if(valor.tipo=='3'){
            		$('label[for="id_ocupados"]').show();
					$('#id_ocupados').show();
            	}else{
            		$('label[for="id_ocupados"]').hide();
					$('#id_ocupados').hide();
            	}
			});
		}
		
	</script>
{% endblock %}
