{% extends "general/administracion_index.html" %}

{% block container %}
	<div class="col-lg-12 well">
		<h4>Detalle de Estructura del Edificio</h4>			
	</div>
	<form id="frm_dormitorio_detalle" name="frm_dormitorio_detalle" action="." method="POST">{% csrf_token %}
		<div class="panel panel-default">
			{% if perms.general.change_dormitorio %}
			<div class="panel-heading">
				<a title="Editar_dormitorio" class="btn btn-default" href="javascript:cambiarEstilo();">
						<span class="glyphicon glyphicon-edit">&nbsp;</span>Editar
				</a>
				<button type="submit" title="Nuevo_Dormitorio" id="btn_guardar" class="btn btn-default"disabled>
						<span class="glyphicon glyphicon-save">&nbsp;</span>Guardar
				</button>

				<a href="{% url 'vista_administracion_dormitorios' %}" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>ATRAS</a>

			</div>
			{% endif %}
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-6">
						{{formulario.as_p}}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
{% block extrafooter %}
	<script type="text/javascript">
	cambiarEstilo()
		enviar()
		function cambiarEstilo(){
				$('input').removeAttr("disabled");
				$('#btn_guardar').removeAttr("disabled");	
				$('input').removeAttr("disabled");
				$('textarea').removeAttr("disabled");
				$('select').removeAttr("disabled");	

				restaurarValor("id_edificio");	
		}
			
		inhabilitar_controles();
		actualizaChosen();

		$('label[for="id_ocupados"]').hide();
		$('#id_ocupados').hide();
		$("#id_edificio").attr("onchange", "enviar();");
		$('#id_capacidad_personas').attr('onkeypress','return permite(event, "num");'); 
		$('#id_ocupados').attr('onkeypress','return permite(event, "num");');

		function enviar(){

			var edificio=$("#id_edificio").val();
			var sendInfo = $('#frm_dormitorio_detalle').serialize();
			sendInfo+="&id="+edificio;
			
			$.post(
            "{% url 'vista_ajax_dormitorio' %}",
            sendInfo,
            function(data){
            	
            	var valor = jQuery.parseJSON(data);
            	if(valor.tipo=='3'){
            		
            		$('label[for="id_ocupados"]').show();
					$('#id_ocupados').show();
            	}else{
            		$('label[for="id_ocupados"]').hide();
					$('#id_ocupados').hide();
            	}
			});
		}
		
	</script>
{% endblock %}
