{% extends "general/menu.html" %}
{% block header %}
  <h1>
  Edificio
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Edificio</li>
    <li>Detalles</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Detalles Edificios
{% endblock  %}

{% block boton_box %}
	{% if perms.general.change_edificios %}
		<a title="Editar_Edificio" class="btn btn-default" href="javascript:cambiarEstilo();">
				<span class="glyphicon glyphicon-edit">&nbsp;</span>Editar
		</a>
		<button type="submit" title="Nuevo_Edificio" form="frm_edificio_detalle" id="btn_guardar" class="btn btn-default"disabled>
				<span class="glyphicon glyphicon-save">&nbsp;</span>Guardar
		</button>
	{% endif %}
{% endblock  %}

{% block contenido_box %}
	<form id="frm_edificio_detalle" name="frm_edificio_detalle" action="." method="POST">{% csrf_token %}
		{{formulario.as_p}}
	</form>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		
		$(':input').each(function( index, obj ) {
			if (obj.id != 'btn_guardar'){
				$(obj).prop('disabled', true).addClass('form-control');
			}
		});

		function cambiarEstilo(){
			$('input').removeAttr("disabled");
			$('#btn_guardar').removeAttr("disabled");	
			$('input').removeAttr("disabled");
			$('textarea').removeAttr("disabled");
			$('select').removeAttr("disabled");		
			
		}
	</script>
{% endblock %}