{% extends "general/menu.html" %}
{% block header %}
  <h1>
  Edificio
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Edificio</li>
    <li>Agregar</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Agregar Edificios
{% endblock  %}

{% block contenido_box %}
	<form id="frm_edificio" name="frm_edificio" action="." method="POST">{% csrf_token %}	
		{% if formulario.errors %}				
			<div class="alert alert-danger">
					<h4>Formulario contiene errores!!</h4>
			</div>
		{% else %}
			{% if ultimo %}
				<div class="alert alert-success">
						<p><h4>Último edificio guardado!!</h4>
						{% for c in ultimo %} <b>"{{ c.nombre }}" el {{c.fecha_creacion}}</b> {% endfor %}<p>
				</div>
			{% endif %}
		{% endif %}
		{{formulario.as_p}}
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
	</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(':input').each(function( index, obj ) {
		$(obj).addClass('form-control')
	});
</script>
{% endblock %}
