{% extends "general/menu.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/media/css/select2.min.css">
{% endblock css %}

{% block header %}
  <h1>
  Formulario Registro de Personas
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Registro de Personas</li>
    <li>Agregar</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Formulario Registro de Personas
{% endblock  %}

{% block boton_box %}
	<a title="Editar Centro" class="btn btn-default" href="javascript:cambiarEstilo();">
			<span class="glyphicon glyphicon-edit">&nbsp;</span>Editar
	</a>
	<button type="submit" title="Guardar Centro" id="btn_guardar" form="frm_campus" class="btn btn-default"disabled>
			<span class="glyphicon glyphicon-save">&nbsp;</span>Guardar
	</button>
{% endblock  %}

{% block contenido_box %}
	{% if mensaje %}
		<p class="alert alert-danger">{{mensaje}}</p>
	{% endif %}
	
	<form id="frm_persona" role="form" name="frm_persona" method="POST">
		{% csrf_token %}
		<fieldset>
				<legend></legend>
			{% for field in formulario %}
				{% if field.html_name == 'pais_nacimiento' %}
					<legend>Localizaci&oacute;n</legend>
				{% endif %}
				{% if field.html_name == 'titulos' %}
					<legend>Datos Profesionales</legend>
				{% endif %}
				<div class="form-group">
		            {{ field.errors }}
		            {{ field.label_tag }}
		            <div id="{{ field.html_name }}">
		            	
		             		{{ field }}

		         	</div> {{ field.help_text }}
		        </div>

			{% endfor %}
		</fieldset>
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
	</form>	
{% endblock %}

{% block js %}
{% include "utilidades/waiting_ajax.html" %}
<script src="/media/js/select2.min.js"></script>
<script type="text/javascript">
	$(':input').each(function( index, obj ) {
		if (obj.id != 'btn_guardar'){
			$(obj).addClass('form-control');
		}
	});

	function width_select(){
		$( ".select2" ).each(function( index ) {
	 		$( this ).css('width', '100%'); // Aqui lo que hace es seleccionar todos los SELECTs con clase de 'select2', si le quita esto, en el modal los SELECTs salen super pequenios.
		});
	}

	$("select").select2();
	width_select();

    $('#id_departamento').attr('onchange','enviar("d");');
	$('#id_municipio').attr('onchange','enviar("m");');
	$('#id_aldea').attr('onchange','enviar("a");');
	$('#id_caserio').attr('onchange','enviar("c");');

	function enviar(bandera){
		var bandera=bandera;
		var id_departamento=$("#id_departamento").val();
		var id_municipio=$("#id_municipio").val();
		var id_aldea=$("#id_aldea").val();
		var id_caserio=$("#id_caserio").val();

		var sendInfo = $('#frm_persona').serialize();

		if (bandera=='d'){
			name='municipio';
			sendInfo+="&bandera="+bandera+"&id="+id_departamento+"&name="+name;
		}else if(bandera=='m'){
			name='aldea';
			sendInfo+="&bandera="+bandera+"&id="+id_municipio+"&name="+name;
		}else if(bandera=='a'){
			name='caserio';
			sendInfo+="&bandera="+bandera+"&id="+id_aldea+"&name="+name;
		}else if(bandera=='c'){
			name='barrio';
			sendInfo+="&bandera="+bandera+"&id="+id_caserio+"&name="+name;
		}
		
		//alert("id: "+id);
		
		
		$('#myModal').modal('show')
		$.post(
        // url to post
        "{% url 'ajax_ubicacion' %}",
        // args
        sendInfo,
        // response callback
        function(data){
            data = jQuery.parseJSON(data)
            $('#id_'+name).select2({
			  data: data
			})
			width_select()
        });
	}
</script>

{% endblock %}
