{% extends "registro/menu.html" %}
{% block header %}
  <h1>
   Asignatura
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Asignatura</li>
    <li>Agregar</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Nueva Asignatura
{% endblock  %}

{% block contenido_box %}
	<form id="frm_carrea" name="frm_carrera" action="." method="POST">
	{% csrf_token %}	
		{% if formulario.errors %}				
			<div class="alert alert-danger">
					<h4>Formulario contiene errores!!</h4>
			</div>
		{% else %}
			{% if c %}
				<div class="alert alert-success">
						<p><h4>Última asignatura guardada!!</h4>
						{% for c in ultimo %} <b>"{{ c.nombre_asignatura }}" el {{c.fecha_creacion}}</b> {% endfor %}<p>
				</div>
				
			{% endif %}
		{% endif %}
		{{formulario.as_p}}
		<button type="submit" class="btn btn-primary">
			<i class="glyphicon glyphicon-save"></i>Guardar</button>
	</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(':input').each(function( index, obj ) {
		$(obj).addClass('form-control')
	});
</script>
{% endblock %}
