{% extends "registro/menu.html" %}
{% block header %}
  <h1>
   Carrera
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Carrera</li>
    <li>Detalle</li>
  </ol>
{% endblock  %}

{% block titulo_box %}
	Detalle de Carrera
{% endblock  %}

{% block boton_box %}
	{% if perms.registro.change_carrera %}
		<a title="Nuevo Campus" class="btn btn-default" href="javascript:cambiarEstilo();">
				<span class="glyphicon glyphicon-edit">&nbsp;</span>Editar
		</a>
		<button type="submit" title="Nuevo Campus" form="frm_campus" id="btn_guardar" name="btn_guardar" class="btn btn-default"disabled>
				<span class="glyphicon glyphicon-save" >&nbsp;</span>Guardar
		</button>
	{% endif %}
{% endblock  %}

{% block contenido_box %}
	<form id="frm_campus" name="frm_campus" action="." method="POST">
		{% csrf_token %}
		{{formulario.as_p}}
	</form>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(':input').each(function( index, obj ) {
			if (obj.name != 'modalidad' && obj.name !='btn_guardar'){
				$(obj).prop('disabled', true).addClass('form-control');
			}
		});
		function cambiarEstilo(){
			$('input').removeAttr("disabled");
			$('#btn_guardar').removeAttr("disabled");	
			$('input').removeAttr("disabled");
			$('textarea').removeAttr("disabled");
			$('select').removeAttr("disabled");	
		}
	</script>
{% endblock %}