{% extends "registro/menu.html" %}
{% block header %}
  <h1>
   Campus
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i>Administración </li>
    <li>Departamentos Académicos</li>
    <li>Detalles</li>
  </ol>
{% endblock  %}

{% block titulo_box %}
	Detalle de Departamentos Académicos
{% endblock  %}

{% block boton_box %}
	<a title="Nuevo Departamento Acad&eacute;mico" class="btn btn-default" href="javascript:cambiarEstilo();">
			<i class="glyphicon glyphicon-edit"></i>Editar
	</a>
	<button type="submit" form="frm_campus" title="Nuevo Campus" id="btn_guardar" class="btn btn-default"disabled>
			<i class="glyphicon glyphicon-save"></i>Guardar
	</button>
{% endblock  %}

{% block contenido_box %}
	<form id="frm_campus" name="frm_campus" action="." method="POST">{% csrf_token %}
		{{formulario.as_p}}
	</form>
{% endblock %}
{% block js %}
	<script type="text/javascript">
		function cambiarEstilo(){
				$('input').removeAttr("disabled");
				$('#btn_guardar').removeAttr("disabled");	
				$('input').removeAttr("disabled");
				$('textarea').removeAttr("disabled");
				$('select').removeAttr("disabled");	
		}
	</script>
{% endblock %}