{% extends "general/menu.html" %}
{% block header %}
  <h1>
  Documentos
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Documento</li>
    <li>Detalles</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Detalles Documento
{% endblock  %}

{% block boton_box %}
	{% if perms.registro.edit_documentos %}
		<a title="Editar Documento" class="btn btn-default" href="javascript:cambiarEstilo();">
				<I class="glyphicon glyphicon-edit"></I>Editar
		</a>
		<button type="submit" title="Guardar Documento" id="btn_guardar" form="frm_campus" class="btn btn-default"disabled>
				<I class="glyphicon glyphicon-save"></I>Guardar
		</button>
	{% endif %}
{% endblock  %}

{% block contenido_box %}
	<form id="frm_campus" name="frm_campus" action="." method="POST">{% csrf_token %}
		{{formulario.as_p}}
	</form>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(':input').each(function( index, obj ) {
			if (obj.id != 'btn_guardar'){
				$(obj).prop('disabled', true).addClass('form-control');
			}
		});
		function cambiarEstilo(){
				$('input').removeAttr("disabled");
				$('#btn_guardar').removeAttr("disabled");	
				$('input').removeAttr("disabled");
				$('textarea').removeAttr("disabled");
				$('select').removeAttr("disabled");		
		}
	</script>
{% endblock %}