{% extends "general/administracion_index.html" %}

{% block extrahead %}
	<script src="/media/libs/time/jquery-ui-sliderAccess.js"></script>
	<script src="/media/libs/time/jquery-ui-timepicker-addon.min.js"></script>
	<script src="/media/libs/time/jquery-ui-timepicker-addon.min.css"></script>
{% endblock %}

{% block container %}
	<div class="container">
		<legend>Asignar nueva hora a:<a href="{% url 'vista_administracion_horarios' %}" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>ATRAS</a></legend>
		<div class="col-lg-12">
			<div class="alert alert-info">
				{% for s in horario %}
					<p>Horario: <b>{{s.descripcion}}</b></p>
					<p>Periodo: <b>{{s.periodo_clase}} AÑO {{s.periodo_clase.periodo.anio}}</b></p>
			
				{% endfor %}
			</div>
		</div>
		<div class="col-lg-12">
			
			<form id="frm_carrea" name="frm_carrera" action="." method="POST">{% csrf_token %}	
				{% if form_horario.errors %}				
					<div class="alert alert-danger">
							<h4>Formulario contiene errores!!</h4>
					</div>
				{% else %}
					<!--<div class="alert alert-success">
							<p><h4>Última sección guardada!!</h4>
							{% for c in ultimo %} <b>"{{ c.descripcion }}" el {{c.fecha_creacion}}</b> {% endfor %}<p>
					</div>-->
				{% endif %}
				{{form_horario.as_p}}
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-save">&nbsp;</span>Asignar</button>
			</form>
		</div>
		<div class="col-lg-12" style="margin-top: 50px;">
			<div class="panel panel-info">
				 <div class="panel-heading">Horas en este horario</div>
				 <div class="panel-body">
				 	{% if horario_hora %}				
						{% for h in horario_hora %}
				    		<p> {{h.hora_inicial}} - {{h.hora_final}}  &raquo;  <a href="{% url 'vista_horario_hora_borrar' h.pk %}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash">&nbsp;</span>Quitar</a></p>
				   		{% endfor %}
					{% else %}
						Aún no se han ingresado horas...
					{% endif %}
				    
				 </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		//actualizaChosen()
		$('#id_hora_inicial').timepicker({stepMinute: 5});
		$('#id_hora_final').timepicker({stepMinute: 5});
	</script>
{% endblock %}