{% extends "registro/base.html" %}

{% block navlist_header %}
    ADMINISTRACIÓN
{% endblock  %}

{% block titulo %}
    Administración
{% endblock  %}

{% block navlist %}
    <li>
  		<a href = "{% url 'vista_administracion_deptos_academics' %}">
             <i class="glyphicon glyphicon-list-alt"></i> <span>Departamentos Académicos</span>
      </a> 
    </li>
    <li>
      <a href = "{% url 'vista_administracion_carreras' %}">
          <i class="glyphicon glyphicon-road"></i><span>Carreras</span>
      </a>
    </li>
    <li>
      <a href = "{% url 'vista_administracion_asignaturas' %}">
        <i class="glyphicon glyphicon-book"></i><span>Asignaturas</span>
      </a>
    </li>
    <li>
      <a href = "{% url 'vista_administracion_tipo_asignaturas' %}">
        <i class="glyphicon glyphicon-file"></i><span>Tipo Asignaturas</span>
      </a>
    </li>
    <li>
      <a href = "{% url 'vista_administracion_documentos' %}">
        <i class="glyphicon glyphicon-file"></i><span>Documentos</span>
      </a>
    </li>
    <li>
      <a href = "{% url 'vista_administracion_tipo_cm' %}">
             <i class="glyphicon glyphicon-warning-sign"></i> <span>Tipos de Condiciones-Matricula</span>
      </a> 
    </li>
{% endblock %}

{% block container %}
<div class="box box-default">
	<div class="box-header with-border">
		<h3 class="box-title"><strong>{% block titulo_box %} {% endblock  %}</strong></h3>

		<div class="btn-group btn-proup-sm pull-right">
			{% block boton_box %}  {% endblock  %}
		</div>
	</div>
	<div class="box-body table-responsive">
		{% block contenido_box  %} {% endblock  %}
		
	</div>
</div>
{% endblock  %}

