{% extends "base_senso.html" %}

{% block navlist %}
	<div class="panel panel-primary">
		<div class="panel-heading">Instrucciones</div>
		  <div class="panel-body">
		    	Llene atenta y cuidadosamente el siguiente formulario, completando todos los datos solicitados en el mismo.
		  </div>
	</div>
{% endblock %}

{% block extrahead %}
	<script type="text/javascript">

		$(document).ready(function(){
			//$( "#id_identidad" ).on( "keypress", function(e) {
					//return false;		
			//});
			//$( "#id_codigo_registro" ).on( "keypress", function(e) {
					//return false;		
			//});
			$( "#id_fecha_nacimiento" ).on( "keypress", function(e) {
					return false;		
			});
			
			//$( "#id_identidad" ).attr('onKeyDown','onKeyDown();');
			$( "#id_fecha_nacimiento" ).attr('onKeyDown','onKeyDown();');
			//$( "#id_identidad" ).attr('readonly','readonly');
			$( "#id_fecha_nacimiento" ).attr('readonly','readonly');
			$( "#id_fecha_inicio_laboral" ).attr('readonly','readonly');
			//$( "#id_codigo_registro" ).attr('onKeyDown','onKeyDown();');
			//$( "#id_codigo_registro" ).attr('readonly','readonly');
		    
			//$("#id_identidad").val("{{identidad}}")
			//$("#id_codigo_registro").val("{{registro}}")

			//dejar identidad nacional por defecto en tipo de identificacion
			$("#id_tipo_identificacion option[value="+ 1 +"]").attr("selected",true);

			//dejar soltero por defecto en estado civil
			$("#id_estado_civil option[value="+ 2 +"]").attr("selected",true);

			//dejar Reingreso por defecto en tipo de persona
			$("#id_tipo_persona option[value="+ 3 +"]").attr("selected",true);

			 // ocultar departamento y municipio y mostrar solo si selecciono 
			$('#departamento').hide()
			$('#municipio').hide()

			$( "#id_pais_residencia" ).on( "change", function() {
			  	if ($( "#id_pais_residencia" ).val()==102){
			  		$('#departamento').show('slow')
					$('#municipio').show('slow')
					$('#id_departamento').attr('required', 'required')
					$('#id_municipio').attr('required', 'required')
			  	}else{
			  		$('#id_departamento').removeAttr('required')
					$('#id_municipio').removeAttr('required')
			  		$('#departamento').hide()
					$('#municipio').hide()
			  	}
			});
		});

		function enviar(bandera){
			var bandera=bandera;
			var id_departamento=$("#id_departamento").val();
			var id_municipio=$("#id_municipio").val();
			var id_aldea=$("#id_aldea").val();
			var id_caserio=$("#id_caserio").val();

			var sendInfo = $('#frm_persona').serialize();

			if (bandera=='d'){
				name='municipio';
				sendInfo+="&bandera="+bandera+"&id="+id_departamento+"&name="+name;
			}else if(bandera=='m'){
				name='aldea';
				sendInfo+="&bandera="+bandera+"&id="+id_municipio+"&name="+name;
			}else if(bandera=='a'){
				name='caserio';
				sendInfo+="&bandera="+bandera+"&id="+id_aldea+"&name="+name;
			}else if(bandera=='c'){
				name='barrio';
				sendInfo+="&bandera="+bandera+"&id="+id_caserio+"&name="+name;
			}
			
			//alert("id: "+id);
			
			
			$('#myModal').modal('show')
			$.post(
            // url to post
            "{% url 'vista_persona_ajax_municipio' %}",
            // args
            sendInfo,
            // response callback
            function(data){
                // uncomment if you wanna to see objects on firebug console
                //console.log(data,text,xhrobject)
                var nada="";
                //alert(data);
                //$('#carga').html(nada);
                $('#'+name).html(data);
                //actualizaChosen();
                $('#id_departamento').attr('onchange','enviar("d");');
				//$('#id_municipio').attr('onchange','enviar("m");');
				//$('#id_aldea').attr                      ('onchange','enviar("a");');
				//$('#id_caserio').attr('onchange','enviar("c");');
				$('#myModal').modal('hide')
            });
		}
	</script>
{% endblock %}

{% block container %}                                                                             
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-body">
	        	<center><img width="235px" height="235px" src="/media/images/cargando.gif"></center>
	        </div>
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->
		{% if mensaje %}
			<p class="alert alert-danger">{{mensaje}}</p>
		{% endif %}
			<form id="frm_persona" role="form" name="frm_persona" action="." method="POST">
				{% csrf_token %}
				<fieldset>
						<legend>Formulario Nuevo Catedrático</legend>
						<div class="form-group">
							<label for="id_codigo_registro">Número de registro</label>
							<div id="codigo_registro">
								<input id="id_codigo_registro"  maxlength="15" name="codigo_registro" type="text"  class="form-control">
							</div>
							
						</div>
					{% for field in formulario %}
						{% if field.html_name == 'pais_nacimiento' %}
							<legend>Localizaci&oacute;n</legend>
						{% endif %}
						
						{% if field.html_name == 'titulos' %}
							<legend>Datos Profesionales</legend>
						{% endif %}
						<div class="form-group">
				            {{ field.errors }}
				            {{ field.label_tag }}
				            <div id="{{ field.html_name }}">
				             		{{ field }}
				            </div> {{ field.help_text }}
				        </div> 
					{% endfor %}
					
					<legend>Datos Laborales</legend>
					{% for field in formulario_doc %}
						<div class="form-group">
				            {{ field.errors }}
				            {{ field.label_tag }}
				            <div id="{{ field.html_name }}">
				                {{ field }}
				            </div> {{ field.help_text }}
			            </div>
			        
					{% endfor %}
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
			</form>
				</fieldset>
{% endblock %}

{% block extrafooter %}
<script type="text/javascript">
	    $('#id_departamento').attr('onchange','enviar("d");');
		//$('#id_municipio').attr('onchange','enviar("m");');
		//$('#id_aldea').attr('onchange','enviar("a");');
		//$('#id_caserio').attr('onchange','enviar("c");');
	    //actualizaChosen(); 

	    //valores requeridos
	    $('input').attr('required', 'required')  
	    $('select').attr('required', 'required') 

</script>
{% endblock %}
