{% extends "registro/administracion_index.html" %}

{% block container %}
	<div class="row">
		<legend>Secciones<a href="{% url 'vista_administracion_documentos' %}" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>ATRAS</a></legend>
		{% if perms.registro.add_seccion %}
		<div class="col-lg-12 well">
			<div class="btn-group btn-proup-sm">
				<a title="Nuevo Documento" class="btn btn-default" href="{% url 'vista_nueva_seccion' %}">
					<span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo
				</a>
			</div>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Lista de Secciones</h4></div>
			<div class="panel-body">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<thead>
						<tr>
							<th>Descripción</th>
							<th>Jornada</th>
							<th>Carrera</th>
							<th>Aula</th>
							<th>Período</th>
							<th colspan="3">Acción</th>							
						</tr>
					</thead>
					<tbody>
						{% for d in seccion %}
							<tr>
								<td>{{d.descripcion}}</td>
								<td>{{d.jornada}}</td>
								<td>{{d.carrera}}</td>
								<td>{{d.aula}}</td>
								<td>{{d.periodo_clase}}</td>
								<td>
									<center>
										<a title="Ver" href="{% url 'vista_secciones_horario' d.pk %}" class="btn btn-info">
											<span class="glyphicon glyphicon-dashboard">&nbsp;Horarios</span>
										</a>
									</center>
								</td>
								<td>
									<center>
										<a title="Ver" href="{% url 'vista_detalle_secciones' d.pk %}" class="btn btn-success">
											<span class="glyphicon glyphicon-eye-open"></span>
										</a>
									</center>
								</td>								
								<td>
									{% if perms.registro.delete_seccion %}
									<center>
										<a  href="{% url 'vista_borrar_secciones' d.id %}" title="Borrar" class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar la seccion <<{{ d.descripcion }}>>?');">
											<span class="glyphicon glyphicon-remove-circle"></span>
										</a>
									</center>
									{% endif %}
								</td>
								
							</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>				
		</div>
	</div>
{% endblock %}