{% extends "general/menu.html" %}
{% block header %}
  <h1>
   Asignatura
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Asignatura</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Lista de Asignatura
{% endblock  %}

{% block boton_box %}
	<a title="Nueva Asignatura" class="btn btn-default" href="{% url 'vista_nueva_asignatura' %}">
		<span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo
	</a>
{% endblock  %}

{% block contenido_box %}
<div class="row-fluid">
	<div class="span4">
		<blockquote>
					<p>
						Puede actualizar y verificar sus datos dando clic en las opciones del men&uacute; de la izquierda.<br>
						Si tiene problemas al llenar los formularios comuníquese a los telefonos 222-xxxx, 222-xxxx.
					</p> <small>Indicaciones</small>
		</blockquote>
	</div>

</div>
	{% if mensaje %}
		<div class="{{alert}}">
			<h3>{{header}}</h3>
			{{mensaje}}
		</div>
	{% endif %}
{% endblock %}
