{% extends "registro/menu.html" %}
{% block header %}
  <h1>
  Condiciones de Matricula
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Condiciones de Matricula</li>
    <li>Agregar</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Agregar Condición de Matricula
{% endblock  %}

{% block contenido_box %}
	<form id="frm_carrea" name="frm_carrera" action="." method="POST">{% csrf_token %}	
		{% if formulario.errors %}				
			<div class="alert alert-danger">
					<h4>Formulario contiene errores!!</h4>
			</div>
		{% else %}
			<div class="alert alert-success">
					<p><h4>Última condición guardada!!</h4>
					{% for c in ultimo %} <b>"{{ c.descripcion }}" el {{c.fecha_creacion}}</b> {% endfor %}<p>
			</div>
		{% endif %}
		{{formulario.as_p}}
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-save">&nbsp;</span>Guardar</button>
	</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(':input').each(function( index, obj ) {
		$(obj).addClass('form-control')
	});
</script>
{% endblock %}
