{% extends "registro/menu.html" %}
{% block header %}
  <h1>
  Tipo de Asignatura
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Tipo de Asignatura</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Lista Tipo de Asignaturas
{% endblock  %}

{% block boton_box %}
	<a title="Nueva Asignatura" class="btn btn-default" href="{% url 'vista_nueva_tipo_asignatura' %}">
		<span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo
	</a>
{% endblock  %}

{% block contenido_box %}
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>
				
				<th>Descripción</th>
				<th>Nota Aprobatorio</th>
				<th>Observaciones</th>
				<th colspan="2">Acción</th>							
			</tr>
		</thead>
		<tbody>
			{% for ta in tipo_A %}
				<tr>
					<td>{{ta.descripcion}}</td>
					<td>{{ta.nota_aprobatorio}}</td>
					<td>{{ta.observaciones}}</td>
					<td>
						<center>
							<a title="Ver" href="{% url 'vista_detalle_tipo_asignaturas' ta.pk %}" class="btn btn-success">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
						</center>
					</td>								
					<td>
						{% if perms.registro.delete_tipo_asignatura %}
						<center>
							<a  href="{% url 'vista_borrar_tipo_asignaturas' ta.pk %}" title="Borrar" class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar la asignatura <<{{ ta.descripcion }}>>?');">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</a>
						</center>
						{% endif %}
					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock %}

