{% extends "registro/menu.html" %}
{% block header %}
  <h1>
  Condiciones de Matrícula
  </h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Administración</li>
    <li>Condiciones de Matrícula</li>
    <li>Detalles</li>
  </ol>
{% endblock  %}


{% block titulo_box %}
	Detalles Condición de Matrícula
{% endblock  %}

{% block boton_box %}
	{% if perms.registro.change_tipos_condiciones_matricula %}
		<a title="Editar Documento" class="btn btn-default" href="javascript:cambiarEstilo();">
			<i class="glyphicon glyphicon-edit"></i>Editar
		</a>
		<button type="submit" title="Guardar Documento" id="btn_guardar" form="frm_cm" class="btn btn-default"disabled>
				<i class="glyphicon glyphicon-save"></i>Guardar
		</button>
	{% endif %}
{% endblock  %}

{% block contenido_box %}
	<form id="frm_cm" name="frm_cm" action="." method="POST">{% csrf_token %}
		{{formulario.as_p}}
	</form>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(':input').each(function( index, obj ) {
			if (obj.id != 'btn_guardar'){
				$(obj).prop('disabled', true).addClass('form-control');
			}
		});

		function cambiarEstilo(){
				$('input').removeAttr("disabled");
				$('#btn_guardar').removeAttr("disabled");	
				$('input').removeAttr("disabled");
				$('textarea').removeAttr("disabled");
				$('select').removeAttr("disabled");	
				restaurarValor("id_tipo_asignatura");	
		}
		
	</script>
{% endblock %}