{% extends "base.html" %}

{% block header %}
	<div class="container">
		<a class="pull-right" href="{% url 'vista_main_first' %}">
			Volver al Men&uacute;
		</a>
		<legend></legend>
	</div>
{% endblock %}

{% block navlist %}
	<div  class = "list-group" > 
  		<a href = "#"  class = "list-group-item active">Men&uacute; Principal</a> 
  		<a href = "#" class = "list-group-item"> Perfil </a> 
  		<a href = "#" class = "list-group-item">
  			Carga Acad&eacute;mica
  			<span class="badge">4</span>
  		</a>   		
	</div>
{% endblock %}

{% block container %}
{% endblock %}