
{% extends "docentes/menu.html" %}
{% block css %}
	<link rel="stylesheet" href="/media/css/dataTables.bootstrap.css">
{% endblock  %}

{% block header %}
 
   <h1>Docentes</h1>
  
  
  <ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Docentes</li>
    <li>Inicio</li>
  </ol>

{% endblock  %}

{% block titulo_box %}
	Lista de Docentes
{% endblock  %}

{% block boton_box %}
	<a title="Nuevo docente" class="btn btn-default" href="{% url 'docente_registro' %}">
		<span class="glyphicon glyphicon-plus">&nbsp;</span>Nuevo
	</a>
	
{% endblock  %}

{% block contenido_box %}
        <table id="tabla" class="table table-bordered table-striped ">
		<thead>
			<tr>
				<th>Identidad</th>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Correo Electronico</th>
				<th>Celular</th>
				<th ></th>							
				<th ></th>	
									
			</tr>
		</thead>
		<tbody>
			{% for personas in persona %}
				<tr>
					<td>{{personas.identidad|default:"---"}}</td>
					<td>{{personas.nombres|default:"---"}}</td>
					<td>{{personas.apellidos|default:"---"}}</td>
					<td>{{personas.correo_electronico|default:"---"}}</td>
					<td>{{personas.celular|default:"---"}}</td>
					<td>
						<center>
							<a title="Ver" href="{% url 'docente_editar' personas.pk %}" class="btn btn-success">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
						</center>
					</td>								
					<td>
						
						<center>
							<a title="Borrar" href="{% url 'docente_eliminar' personas.pk %}" title="Borrar" class="btn btn-danger" onclick="return confirm('¿Esta seguro que quiere eliminar este docente  <<{{personas.nombres }} {{personas.apellidos}}>>?');" class="btn btn-danger">
								<span class="glyphicon glyphicon-remove-circle"></span>
							</a>
						</center>
					</td>
				</tr>
			{% endfor %}
        </tbody>
	    </table>
	{% endblock %}
	
    
{% block js %}
<script src="/media/js/jquery.dataTables.min.js"></script>
<script src="/media/js/dataTables.bootstrap.min.js"></script>
<script>
      $(function () {
        $('#tabla').DataTable();
      });
    </script>
{% endblock  %}

