<!DOCTYPE HTML>
<HTML style="height: 100%;">
	<head>
		<title>{% block titlet %} SARE-UNAG {% endblock %}</title>
		<!--bootstrap-->
		<!-- <link href="/media/libs/dist/css/bootstrap.css" rel="stylesheet" type="text/css" > -->
		<link href="/media/libs/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/media/libs/dist/css/jquery-ui.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/media/libs/chosen/chosen.css">
		<link type="text/css" href="/media/libs/dist/css/demo_table.css" rel="stylesheet" />
		
		<!--fin bootstrap-->
		<!--icono-->
		<link rel="icon" type="image/ico" href="/media/images/favicon.ico" />
		<!--icono-->
		<script src="/media/libs/dist/js/jquery-1.8.2.js"></script>
		<script src="/media/libs/dist/js/1.9.2/jquery-ui.js"></script>
		
		<!--<link rel="stylesheet" type="text/css" href="/media/libs/dist/datepicker/css/datepicker.css">-->

		<script type="text/javascript">
			$(function(){
				$('input[id^=id_fecha]').datepicker();
				$('input[id^=id_fecha_nacimiento]').datepicker();
			});
		</script>

		<script type="text/javascript">
			function permite(elEvento, permitidos) {
				    // Variables que definen los caracteres permitidos
				    var numeros = "0123456789";
				    var caracteres = " abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
				    var numeros_caracteres = numeros + caracteres;
				    //var teclas_especiales = [8, 37, 39, 46, 9, 45];
				    var teclas_especiales = [8];
				    var teclaguion=[45, 39, 37, 46];
				    var puntoscomas=[44, 58, 59, 39, 37, 46, 15];
				    var bloquear_todos=[];
				    var num_guiones=numeros+teclaguion;
				    num_car_pc=numeros_caracteres+puntoscomas;
				    // 8 = BackSpace, 46 = Supr, 37 = flecha izquierda, 39 = flecha derecha, 45 -
				    // Seleccionar los caracteres a partir del parámetro de la función, 15 shitf in
				    switch(permitidos) {
				        case 'num':
				            permitidos = numeros;
				            break;
				        case 'car':
				            permitidos = caracteres;
				            break;
				        case 'num_car':
				            permitidos = numeros_caracteres;
				            break;
				        case 'num_g':
				            permitidos=num_guiones;
				            break;
				        case 'car_pcoma':
				            permitidos=num_car_pc;
				            break;
				        case 'bloquea':
				            permitidos=bloquear_todos;
				            break;
				                    
				    }
				    // Obtener la tecla pulsada
				    var evento = elEvento || window.event;
				    var codigoCaracter = evento.charCode || evento.keyCode;
				    var caracter = String.fromCharCode(codigoCaracter);
				    // Comprobar si la tecla pulsada es alguna de las teclas especiales
				    // (teclas de borrado y flechas horizontales)
				    var tecla_especial = false;
				    for(var i in teclas_especiales) {
				        if(codigoCaracter == teclas_especiales[i]) {
				            tecla_especial = true;
				            break;
				        }
				    }
				    // Comprobar si la tecla pulsada se encuentra en los caracteres permitidos
				    // o si es una tecla especial
				    return permitidos.indexOf(caracter) != -1 || tecla_especial;
				}
		</script>

		<!--<div style='width:100%;'>
			<center><img src="/media/images/banner.jpg" style='width:100%;'  border="0" alt="Null"></center>
		</div>
	    -->
		
		<nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'vista_main_first' %}">Registro</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'vista_main_first' %}"><span class="glyphicon glyphicon-home">&nbsp;</span>Inicio</a></li>
              </ul>
            
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido {{user.first_name}} !<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;</span>Perfil</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-retweet">&nbsp;</span>Cambiar Contraseña</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'vista_logout' %}"><span class="glyphicon glyphicon-off">&nbsp;</span>Cerrar Sesión</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
		
		{% block extrahead %}
		{% endblock %}
	</head>
	<body>
		
		<div class="container" style="min-width: 100%;">
			{% block header %}
				<div class="row">
			
					<div class="col-lg-12">
						{% if not user.is_authenticated %}
							<a class="pull-right" href="{% url 'vista_login' %}">
								<span class="glyphicon glyphicon-user"></span>Entrar
							</a>
						{% else %}
							
						{% endif %}
						
					</div>
				
				</div>
			{% endblock %}
			<div class="row" style="width: 100%">
			
				<div class="col-lg-3">
					{% block navlist %}
					{% endblock %}
				</div>
				<div class="col-lg-9">
					{% block container %}
					{% endblock %}
				</div>
						
			</div>
		</div>
				
	</body>
</HTML>
	<!--<script type="text/javascript" src="/media/libs/jquery_1.10.2.js"></script>
-->
	<script type="text/javascript" src="/media/libs/dist/js/bootstrap.js"></script>
	<script type="text/javascript" language="javascript" src="/media/libs/dist/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/media/libs/chosen/chosen.jquery.js"></script>
	<script type="text/javascript" src="/media/libs/chosen/docsupport/prism.js"></script>
	<!--<script type="text/javascript" src="/media/libs/dist/datepicker/js/bootstrap-datepicker.js/"></script>-->
	<script type="text/javascript">

		$(document).ready(function(){
			//$('ul li').removeClass("errorlist").addClass("alert-danger");
			//$("#id_carrera").attr('class','multiple');
			//$("#id_carrera").attr('style','width: 700px; height: 200px;');


		});



		function inhabilitar_controles(){
			$('input').attr("disabled" ,"disabled");
			$('textarea').attr("disabled" ,"disabled");
			$('select').attr("disabled" ,"disabled");
			$('input').removeClass("errorlist").addClass("form-control");
			$('select').attr('class',"chosen-select");
		}

	    function actualizaChosen(){
	    	$('input').removeClass("errorlist").addClass("form-control");

			$('select').attr('class',"chosen-select");
	    	$('.default').attr('style','width: 160px; height: 30px;');
	    	
			    	var config = {
			      '.chosen-select'           : {width:"50%", no_results_text:'Oops, sin resultados!'},
			      '.chosen-select-deselect'  : {allow_single_deselect:true},
			      '.chosen-select-no-single' : {disable_search_threshold:10},
			      '.chosen-select-no-results': {no_results_text:'Oops, sin resultados!'},
			      '.chosen-select-width'     : {width:"95%"}
				    }
				    for (var selector in config) {
				      $(selector).chosen(config[selector]);
				    }
		}

		function restaurarValor(id){
			var valor=document.getElementById(id).value;
			$("#"+id+" option[value="+ valor +"]").attr("selected",true);
			$("#"+id).trigger("chosen:updated");
		}

	    
    </script>  
      
{% block extrafooter %}
{% endblock %}

{% block datatable %}
	<script type="text/javascript">
		//data table
			$('table').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
        		"sPaginationType": "full_numbers" //DAMOS FORMATO A LA PAGINACION(NUMEROS)
    		} );
    	$('.errorlist').removeClass("errorlist").addClass("alert alert-danger"); 
    	var cod= $('#id_codigo').val();
		$('#id_codigo').val($.trim(cod))
	</script>
{% endblock %}

{% block extrajs %}
{% endblock %}