
<style type="text/css">
	/* Preloader */
	#preloader {
	    position:fixed;
	    top:0;
	    left:0;
	    right:0;
	    bottom:0;
	    background-color:#fff; /* change if the mask should have another color then white */
	    z-index:99; /* makes sure it stays on top */
	    opacity: 0.8;
	}

	#status {
	    width:200px;
	    height:200px;
	    position:absolute;
	    left:50%; /* centers the loading animation horizontally one the screen */
	    top:50%; /* centers the loading animation vertically one the screen */
	    background-image:url(/media/images/loading.gif); /* path to your loading animation */
	    background-repeat:no-repeat;
	    background-position:center;
	    margin:-100px 0 0 -100px; /* is width and height divided by two */
	}
</style>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<script type="text/javascript">
	$(window).load(function(){
		$('#status, #preloader').fadeOut(); 
	});
	$(document).ajaxStart(function(){	
		$('#status, #preloader').fadeIn(); 
	});
	$(document).ajaxStop(function(){
		$('#status').fadeOut(); // will first fade out the loading animation
    	$('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
	});
</script>
