<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block titulo %} {% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/media/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/media/css/skins/_all-skins.min.css">

    {% block css %} {% endblock %}
  </head>
  <body class="hold-transition skin-red layout-top-nav">
    <div class="wrapper">

      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="" class="navbar-brand"><b>SARE </b>- UNAG</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">{{user.username}}</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="user-header">
                      <img src="/media/images/user.png" class="img-circle" alt="User Image">
                      <p> <b>
                        {{user.first_name}} {{ user.last_name }}
                      </b> </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                      <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                      </div>
                      <div class="pull-right">
                        <a href="{% url 'vista_logout' %}" class="btn btn-default btn-flat">Sign out</a>
                      </div>
                    </li>
                  </ul>
              </li>
            </ul>
          </div>
          </div>
        </nav>
      </header>
      <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">
          <section class="content-header">
            {% block header %} {% endblock  %}
          </section>

          <!-- Main content -->
          <section class="content">
            {% block container %} {% endblock  %}
        </div>
      </div>
    </div>

   
    <script src="/media/js/jQuery-2.1.4.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/jquery.slimscroll.min.js"></script>
    <script src="/media/js/fastclick.min.js"></script>
    <script src="/media/js/app.min.js"></script>
    <script src="/media/js/demo.js"></script>
  </body>
</html>
