{% extends "home/base.html" %}

{% block titulo %} Menu Principal {% endblock %}

{% block header %} <h1> Menú Principal </h1> {% endblock  %}

{% block container %}
<div class="row">
	<div class="col-md-4"  style="vertical-align:middle;">
		<div class="well">
			<center>
				<a href="{% url 'vista_main_administration' %}">
					<img src="/media/images/setting.png" width="150" height="150">
					<h3>Administración</h3>
				</a>
			</center>
		</div>
	</div>
	<div class="col-md-4"  style="vertical-align:middle;">
		<div class="well">
			<center>
				<a href="{% url 'alumno_menu_principal' %}">
					<img src="/media/images/student.png"  width="150" height="150">
					<h3>Alumnos</h3>
				</a>
			</center>
		</div>
	</div>
	<div class="col-md-4"  style="vertical-align:middle;">
		<div class="well">
			<center>
				<a href="">
					<img src="/media/images/teacher.png"  width="150" height="150">
					<h3>Catedrático</h3>
				</a>
			</center>
		</div>
	</div>
</div>
{% endblock %}
